{% extends 'layout.html' %}

{% block content %}

    <script type=text/javascript>
        $(function () {
            $('a#calculate').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '/_pollWLM', {}, function (data) {
                    $("#result").text(data.result);

                });
                return false;
            });
        });

        (function worker() {
            $.ajax({
                url: '/_pollWLM',
                success: function (data) {
                    $('#result').text(data.result);
                    $("#result").text(data.result);
                },
                complete: function () {
                    // Schedule the next request when the current one's complete
                    setTimeout(worker, 500);
                }
            });
        })();
        $(".ChanToggleButton").click(function () {
            $(this).button('toggle');
            console.log('this');
        });

    </script>
    <p><span id=result>?</span>
    <p><a href=# id=calculate>poll WLM</a>

    <div id="graph"></div>
    <label for="channels">Channels:</label>

    <div class="row">
        <label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
        </div>




{% endblock %}